---
layout: default
---

{% assign title = false %}
{% for einladung in site.posts reversed %}
  {% capture nowunix %}{{ site.time | date: '%s'}}{% endcapture %}
  {% assign tags = einladung.tag | split: " " %}
  {% if tags contains "pm" %}
    {% unless tags contains "archive" %}
      {% unless title %}
        {% assign title = true %}
        <!-- h2 id="pressemitteilung">Aktuelle Pressemitteilung</h2 -->
        <h2 id="pressemitteilung">Aktuelle Mitteilung</h2>
      {% endunless %}
      {% include einladung.html %}
    {% endunless %}
  {% endif %}
{% endfor %}

<h2 id="einladung">Einladung</h2>

{% for einladung in site.posts reversed %}
{% capture nowunix %}{{ site.time | date: '%s'}}{% endcapture %}
{% capture ende %}{{einladung.date_ende | date: '%s'}}{% endcapture %}
  {% if einladung.date >= site.time or ende >= nowunix %}
    {% assign tags = einladung.tag | split: " " %}
    {% unless tags contains "pm" %}
      {% include einladung.html %}
    {% endunless %}
  {% endif %}
{% endfor %}

<!--p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p-->


<h3 id="programm">Programm</h3>
<p>
    <strong>Gebetszeiten</strong> der Israelitischen Religionsgemeinde zu Leipzig für das Jahr 2021<br />
    <a class="pdf" href="{% relative_link /einladungen/2021-Gottesdienstplan.pdf %}">Gebetszeiten 2021</a> (0,2 MB)<br /><br />
</p>

<p>
    Einladungen zu vergangenen Veranstaltungen finden Sie im <a href="{% relative_link archiv.html %}">Archiv</a>
</p>

<span><a class="top" href="#top">Zum Anfang der Seite</a></span>

<h2 id="beitraege">Beitr&auml;ge</h2>

<p><strong>Pressemitteilungen</strong><br>
  Bisherige Pressemitteilungen finden Sie im <a href="{% relative_link archiv.html %}">Archiv</a>
</p>

<p><strong>Reihe: Basiswissen</strong><br>
    <a class="pdf" href="{% relative_link /einladungen/2019-08-28-Basiswissen.pdf %}">Alle Termine</a>
    <br>
    Sabbat:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen1SabbatA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen1SabbatB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Jahreskreis:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen2JahrA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen2JahrB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Wegmarken im Leben:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen3LebenA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen3LebenB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Rabbinat:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen4RabbA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen4RabbB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Was ist Tora:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen4ToraA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen4ToraB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Israel:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen6Israel.pdf %}">Folien</a>
    <br>
    Was ist koscher:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen8KaschrutA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen8KaschrutB.pdf %}">Folien, zweiter Teil</a>
    <br>
    Gebet:
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen7GebetA.pdf %}">Folien, erster Teil</a>
    <a class="pdf" href="{% relative_link /beitraege/Basiswissen7GebetB.pdf %}">Folien, zweiter Teil</a>
</p>

<p><strong>Gerechtigkeit und Barmherzigkeit</strong><br>
    <a class="pdf" href="{% relative_link /beitraege/WortDerKirchenleitung2017.pdf %}">Wort der Kirchenleitung der Evangelisch-Lutherischen Landeskirche Sachsens (EVLKS)</a> (0,2 MB)
„zum Gemeinsamen Weg von Juden und Christen“
vom 23. Juni 2017,
im Blick auf das Gedenkjahr 2018 veröffentlicht zusammen mit einem Materialheft
    <a class="link" href="https://www.evlks.de/glauben/oekumene-und-religionen/interreligioeser-dialog/">„Das Verhältnis von Christen und Juden als Thema kirchgemeindlicher Arbeit“</a>
Das Wort findet sich dort zwischen den Seiten 49 und 50.
</p>

<p><strong>Informationen zur synagogalen Leseordnung</strong><br>
    <a class="pdf" href="{% relative_link /beitraege/synagogale_schriftlesungen.pdf %}">Synagogale Schriftlesungen</a> (0,2 MB)
</p>

<p><strong>Gedanken Joseph Ratzingers als Papst im Ruhestand Benedikt XVI.</strong> zum Verhältnis zu den Juden führten u. a. zu einem Briefwechsel mit dem Wiener Oberrabbiner Arie Folger.
Die Zeitschrift Communio stellt die Texte gegenwärtig (2018) im Internet zur Verfügung:
<a class="link" href="https://www.communio.de/pdf/vorabveroeffentlichung/Communio-Benedikt_XVI-2018.pdf">GNADE UND BERUFUNG OHNE REUE</a>,
<a class="link" href="https://www.communio.de/pdf/vorabveroeffentlichung/Briefwechsel_Benedikt_XVI_Rabbi_Arie_Folger.pdf">BRIEFWECHSEL BENEDIKT XVI. – RABBI ARIE FOLGER</a>.
<a class="pdf" href="{% relative_link /beitraege/2019-01-20-PressemitteilungRom.pdf %}">Pressemitteilung zum Besuch einer ORD-Delegation im Vatikan</a> (500 KB)
<a class="pdf" href="{% relative_link /beitraege/2019-01-22-DKRinRom.pdf %}">Pressemitteilung des Deutschen Koordinierungsrates zu einem Gespräch in Rom</a> (160 KB)
</p>

<p><strong>Erklärungen zu den Beziehungen zum Judentum:</strong> Anfang Dezember 2015 veröffentlichten orthodoxe Rabbiner <a class="link" href="http://www.jcrelations.net/Den_Willen_unseres_Vaters_im_Himmel_tun__Hin_zu_einer_Partnerschaft_zwischen_Jud.5227.0.html?L=2">HTML</a> <a class="pdf" href="beitraege/Den_Willen_unseres_Vaters_im_Himmel_tun.pdf">PDF</a> und die Vatikanische Kommission für die religiösen Beziehungen zum Judentum <a class="link" href="http://www.jcrelations.net/DENN_UNWIDERRUFLICH_SIND_GNADE_UND_BERUFUNG__DIE_GOTT_GEW__HRT___R__m_11_29.5230.0.html?L=2">HTML</a> <a class="pdf" href="{% relative_link /beitraege/Denn_unwiderruflich_sind_Gnade_und_Berufung_die_Gott_gewaehrt.pdf %}">PDF</a> je eine Erklärung in sieben Punkten.
</p>

<p><strong>Manuskripte und Mitschnitte:</strong></p>
<ul>
    <li>
        2021-09-23 Unbehaust: Podiumsgespräch anlässlich des Sukkot/Laubhütten-Festes
<br>
In der Sukka der Israelitischen Religionsgemeinde zu Leipzig reden <em>Rabbiner Zsolt Balla</em>, <em>Propst Gregor Giele</em> und <em>Superintendent Sebastian Feydt</em> über die Aufforderung im Dritten Buche Mose, Kapitel 23, Vers 42: „In Hütten sollt ihr wohnen, sieben Tage.“ Wie stellen wir uns heute dieser Aufforderung zur sozialen Solidarität? Modertation: Timotheus Arndt
<br>
Der Abend schließt mit den Psalmen 114 bis 116 und den Schlußverse 118,28–29 aus dem Hallel (Psalmen 113 bis 118), gesungen von Rabbiner Balla.
        <a class="link" href="https://files.kirche.technology/2021-09-26-IMG_1476.mp4">Gespräch</a>
        <a class="link" href="https://files.kirche.technology/2021-09-26-IMG_1477.mp4">Gesang</a>
    </li>
    <li>
        2019-11-28 Jüdische Identität in der DDR, Rabbinerin Esther Jonas-Märtin, Leipzig
        <a class="pdf" href="{% relative_link /beitraege/2019-11-28-EJonasMaertinDDR.pdf %}">PDF</a>
    </li>
    <li>
        2019-09-26 Juden und Muslime zwischen Konflikt und Symbiose, Professor Dr. Omar Kamil, Leipzig
        <a class="pdf" href="{% relative_link /beitraege/2019-09-26-KamilJudenUMuslime.pdf %}">PDF</a>
    </li>
    <li>
        2019-04-11 Christsein mit Tora und Evangelium. Professor em. Dr. Klaus Wengst, Braunschweig
        <a class="pdf" href="{% relative_link /beitraege/2019-04-11KlausWengst.pdf %}">PDF</a>
    </li>
    <li>
        2014/2015 Ökumenische Bibelwoche: Anmerkungen zum Galaterbrief
        <a class="link" href="https://www.bibelwerk.de/Bibel.12790.html/%C3%96kumenische+Bibelwoche.108826.html">HTML</a>
        <a class="pdf" href="{% relative_link /beitraege/GalaterBiWo2014f.pdf %}">PDF</a>
    </li>
    <li>
        2013-04-11 Holocaust und Shoah, „Das Unsagbare sagen“, Dr. Christoph Münz
        <a class="link" href="http://www.compass-infodienst.de/ Christoph_Muenz___Wohin_die_Sprache_nicht_reicht_____-_Holocaust_und_Shoa.6581.0 .html">HTML</a>
        <a class="pdf" href="{% relative_link /beitraege/ChristophMuenz2013-04-11.pdf %}">PDF</a>
    </li>
    <li>
        2012-11-10 Pogromgedenken Predigt Rabbiner Dr. Walter Rothschild
        <a class="pdf" href="{% relative_link /beitraege/WalterRothschild2012-11-11.pdf %}">PDF</a>
    </li>
    <li>
        2012-05-03 Verrat an der Erde &ndash; Kain und Abel, Chaim Noll
        <a class="pdf" href="{% relative_link /beitraege/2012-05-03KAIN_und_ABEL.pdf %}">PDF</a>
    </li>
    <li>
        2012-02-16 Ist das Judentum die Mutter oder die Schwester des Christentums? Pater Klaus Gr&auml;ve, Leipzig
        <a class="pdf" href="{% relative_link /beitraege/KlausGraeve2012-02-16.pdf %}">PDF</a>
    </li>
    <li>
        2011-09-11 Pogromgedenken Predigt Pfarrer Wolfgang Raupach-Rudnick
        <a class="pdf" href="{% relative_link /beitraege/2011-11-09-Raupach-Rudnick-Pogromgedenken-Leipzig.pdf %}">PDF</a>
    </li>
    <li>
        2010-11-09 Pogromgedenken Predigt Professor Alfred Bodenheimer
        <a class="pdf" href="{% relative_link /beitraege/Alfred_Bodenheimer_Novemberpogrom_Leipzig_2010.pdf %}">PDF</a>
    </li>
    <li>
        2010-07-11 Der Wochenspruch zum 6. Sonntag nach Trinitatis ''Jesaja 43,1'' - und wie er verstümmelt wurde
        <a class="link" href="http://www.reformiert-info.de/5768-0-84-9.html">HTML</a>
        <a class="pdf" href="http://reformiert-info.de/daten/File/Upload/doc-5768-1.pdf">PDF</a>
    </li>
    <li>
        2009-03-08 Predigt am Sonntag Reminiszere zu Mk 12,1-12
        <a class="link" href="http://www.uni-leipzig.de/%7Eat/arndt/Werkstatt/Mk_12_Reminiszere.html">HTML</a>
        <a class="pdf" href="http://www.uni-leipzig.de/%7Eat/arndt/Werkstatt/Mk%2012%20Reminiszere.pdf" >PDF</a>
    </li>
    <li>
        2008-11-09 Pogromgedenken Predigt Professor Eliyahu Schleifer
        <a class="pdf" href="{% relative_link /beitraege/Eliyahu_Schleifer_Pogromgedenken_2008.pdf %}">PDF</a>
    </li>
    <li>
        2008/2009 Ökumenische Bibelwoche: Die Ich-bin-Worte Jesu im Johannesevangelium
        <a class="link" href="http://www.uni-leipzig.de/%7Eat/arndt/Werkstatt/BiWo_Ichbin_worte.html">HTML</a>
        <a class="pdf" href="http://www.uni-leipzig.de/%7Eat/arndt/Werkstatt/BiWo_Ichbin_worte.pdf">PDF </a>
    </li>
</ul>

<h2 id="angebot">St&auml;ndiges Angebot der J&uuml;disch-Christlichen Arbeitsgemeinschaft</h2>
<p>
    <em>Veranstaltungen mit den folgenden oder anderen Themen k&ouml;nnen mit Herrn Dr. Arndt
        (0341-9735414, tarndt@jcha.de) und weiteren Referenten bei der J&uuml;disch-Christlichen Arbeitsgemeinschaft
        (Burgstra&szlig;e 1&ndash;5, 04109 Leipzig, Tel.: 0341-212 009 435, info@jcha.de) vereinbart werden.</em>
</p>

<h3>Vortr&auml;ge zu j&uuml;dischen Traditionen</h3>
<h4>Einteilung der Zeit: der j&uuml;dische Kalender</h4>
<p>
    Wann beginnt ein Jahr? Was bedeuten Jahreszahlen? Wie kommen die Feste zu ihren Terminen? Wie kommt man von einem Fest zum n&auml;chsten? -
    Mit Hilfe solcher Fragen l&auml;sst sich ein &Uuml;berblick &uuml;ber das J&uuml;dische Festjahr gewinnen; es ist eine Weise,
    an Stationen der Geschichte zu erinnern, die heute noch Bedeutung haben.
</p>

<h4>Einteilung der Zeit: Der Sabbat</h4>
<p>
    Arbeiten verboten! - Wie macht man das? Was tut man da? Der Sabbat ist ein Geschenk, ein Zeichen, ein Gew&uuml;rz, eine Prinzessin.
    Schlie&szlig;lich wird von ihm gesagt: &bdquo;Mehr als die Juden ihn gehalten haben, hat er die Juden erhalten.&ldquo;
</p>

<h4>Einteilung der Zeit: einzelne Feste</h4>
<p>
Pesach &ndash; das Fest der Befreiung (bei den Christen ist daraus Ostern geworden)<br />
Schawu'ot &ndash; die Bundesordnung (bei den Christen hei&szlig;t es Pfingsten)<br />
Die Zeit unserer Freude: Sukkot (H&uuml;ttenfest) und Simchat Tora (Tora-Freude)<br/>
Die Hohen Feiertage zu Jahresbeginn: Rosch Ha-Schana bis Jom Kippur<br/>
Purim: Das Buch Ester als Festlegende.
</p>

<h4>J&uuml;dische Liturgie</h4>
<p>
Funktion und Einrichtung der Synagoge - Die Gebete: Texte und Gebr&auml;uche
</p>

<h4>Beispiele j&uuml;discher Bibelauslegung</h4>
<p>
Woher hatte Noah Licht in der Arche? Wie hat Abraham zum Glauben gefunden? Warum stotterte Mose? (Einzelheiten nach Vereinbarung)
</p>

<h4>Zur j&uuml;dischen Lebensgestaltung</h4>
<p>
Leben nach der Tora - Was bedeuten die 613 Gebote der Tora? Judentum: eine Religion des Lernens - Was ist der Talmud: Eine Einf&uuml;hrung
</p>

<span><a class="top" href="#top">Zum Anfang der Seite</a></span>

<h2 id="kontakt">Kontakt</h2>

<p>
Haus der Kirche<br />
Burgstraße 1–5<br />
04109 Leipzig</p>

<p>
B&uuml;rozeiten: Dienstag 10 bis 12 Uhr und Donnerstag 14 bis 16 Uhr</p>

<p>
Telefon: (0341) 2120 09 435<br />
Telefax: (0341) 2120 09 489<br />
E-Mail: info@jcha.de</p>

<strong>Spendenkonto</strong>
<p>
IBAN DE49 3506 0190 1620 4790 86 Bank für Kirche und Diakonie (KD-Bank)
bitte als Verwendungszweck angeben: JCHA </p>
<p>
Vorsitzender: <a class="link" href="https://at.theol.uni-leipzig.de/institut/mitarbeiter/dr-timotheus-arndt">Timotheus Arndt</a><br />
Mitarbeiterinnen und Mitarbeiter: Inessa Beznosova, Ida Charnis, Elke Goldstein</p>
<p>
Die Jüdische-Christliche Arbeitsgemeinschaft arbeitet
als Landeskirchlicher Arbeitskreis in Verbindung mit<br />
anderen christlichen Konfessionen<br />
und den jüdischen Gemeinden in Sachsen.</p>
<p>
Auf Anfrage beraten und gestalten wir mit Ihnen<br />
Themen zur Begegnung von Juden und Christen.</p>

<span><a class="top" href="#top">Zum Anfang der Seite</a></span>

<h2 id="zusammen">Wir arbeiten zusammen mit</h2>
<p>
der <a class="link" href="http://www.cj-dresden.de/">Gesellschaft f&uuml;r christlich-j&uuml;dische Zusammenarbeit</a>
in <strong>Dresden</strong> und<br />
dem <a class="link" href="http://ev-forum.kirche-chemnitz.de/">Evangelischen Forum</a> und
der <a class="link" href="https://chemnitz.deutsch-israelische-gesellschaft.de/">Deutsch-Israelischen Gesellschaft</a> in <strong>Chemnitz</strong></p>

<p>
In <strong>Leipzig</strong> befindet sich
die
<a class="link" href="http://www.uni-leipzig.de/~judaica/">Forschungsstelle Judentum</a>

das
<a class="link" href="http://www.dubnow.de/">Simon-Dubnow-Institut f&uuml;r j&uuml;dische Geschichte und Kultur e.V.</a> an der Universit&auml;t Leipzig
</p>

die
<a class="link" href="http://www.irg-leipzig.de/">Israelitische Religionsgemeinde zu Leipzig</a>

das
<a class="link" href="https://ariowitschhaus.de/">Ariowitschhaus</a>

der
<a class="link" href="http://www.synagogalchor-leipzig.de/">Leipziger Synagogalchor</a>

<a class="link" href="http://www.juedischesleipzig.de/deutsch/index.php">J&uuml;disches Leipzig</a>
mit einem H&ouml;rrundgang durch Leipzig

<a class="link" href="http://remembering-leipzig.de/">ReMembering:</a>
J&uuml;dische Lebenserinnerungen –
ein Netzwerk zur Stadtgeschichte Leipzigs</p>

<span><a class="top" href="#top">Zum Anfang der Seite</a></span>

<h2 id="verbunden">Wir sind verbunden mit</h2>
<p>
der Konferenz Landeskirchlicher Arbeitskreise Christen und Juden (<a class="link" href="http://www.klak.org/">KLAK</a>)<br />
den <a class="link" href="http://www.deutscher-koordinierungsrat.de/">Gesellschaften</a> f&uuml;r Christlich-J&uuml;dische Zusammenarbeit<br />
dem Evangelisch-Lutherischen <a class="link" href="http://www.bcj.de/">Zentralverein</a> f&uuml;r Begegnung von Christen und Juden<br />
der Evangelisch-Lutherischen <a class="link" href="http://www.landeskirche-sachsen.de/">Landeskirche</a> Sachsens<br />
<!--<a href="http://www.ekd.de/judentum/">Evangelische Kirche in Deutschland (EKD)</a><br />-->
dem <a class="link" href="http://www.jcrelations.net/">Internationalen Rat der Christen und Juden</a><br />
</p>

<span><a class="top" href="#top">Zum Anfang der Seite</a></span>
