{% if einladung.attachment %}
    {% if einladung.attachment.first %}
    {% for attachment in einladung.attachment %}
    {% if attachment.title %}
    <span class="anhang"><a class="pdf" href="{{ attachment.file | relativize_url }}">{{ attachment.title }}</a></span>
    {% else %}
    <span class="anhang"><a class="pdf" href="{{ attachment | relativize_url }}">{% if tags contains "pm" %}Mitteilung{% else %}Einladung{% endif %}</a></span>
    {% endif %}
    {% endfor %}
    {% else %}
    {% if attachment.title %}
    <span class="anhang"><a class="pdf" href="{{ einladung.attachment.file | relativize_url }}">{{ einladung.attachment.title }}</a></span>
    {% else %}
    <span class="anhang"><a class="pdf" href="{{ einladung.attachment | relativize_url }}">{% if tags contains "pm" %}Mitteilung{% else %}Einladung{% endif %}</a></span>
    {% endif %}
    {% endif %}
{% endif %}
