<div class="span3 bs-docs-sidebar">
    <div id="affixcontainer" class="span3 affix menucontainer" >
        <ul class="nav nav-list bs-docs-sidenav">
            <!--<li><a href="#presse"><i class="icon-chevron-right"></i>Pressemitteilung</a></li>-->
            <li><a href="#einladung"><i class="icon-chevron-right"></i>Programm und Einladung</a></li>
            <li><a href="#angebot"><i class="icon-chevron-right"></i>Unser st&auml;ndiges Angebot</a></li>
            <li><a href="#beitraege"><i class="icon-chevron-right"></i>Beitr&auml;ge</a></li>
            <li><a href="#kontakt"><i class="icon-phone"></i>Kontakt</a></li> <!-- icon-user, icon-envelope -->
            <li><a href="#zusammen"><i class="icon-link"></i>Wir arbeiten zusammen mit</a></li> <!-- icon-globe -->
            <li><a href="#verbunden"><i class="icon-link"></i>Wir sind verbunden mit</a></li>
        </ul>
        <img id="Logo" width="250px" alt="Logo der Jüdisch-Christlichen Arbeitsgemeinschaft" src="{{ "images/JCA_Logo.png" | prepend: site.baseurl }}"/>
    </div>
</div>
